<h4>Upload Anything Settings</h4>
<div class="control-group">Upload any file to the OctoPrint's storages.</div>
<br>
<form class="form-horizontal" id="settings_plugin_uploadanything_form">
  <div class="control-group">
		<label class="control-label">{{ _('Allowed Extensions') }}</label>
    <div class="controls">
		  <input type="text" class="input-block-level" data-bind="value: settings.plugins.uploadanything.allowed">
    </div>
	</div>
</form>
